/*Main setings*/
body {
	padding: 0;
	margin: 0;
	background-color: #FAFAFA;
	cursor: default;
}

ul {
	list-style-type:none;
	margin: 0px;
	padding: 0px;
	overflow:hidden;
	box-shadow: 0px 2px 2px #AFAFAF;
	font-family: 'Hind', sans-serif;
}

li {
	float:right;
}

li a{
	display:block;
	color: #AAA;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}

li a:hover:not(.active) {
	color: #4db8ff;
}

.active {
	float: left;
	background-color: #9966ff;
	color: white;
	-webkit-transition: background-color 0.4s;
	transition: background-color 0.4s;
}

li a.active:hover{
	background-color: #333;
}

h1{
	font-size:100px;
	font-family: 'Hind', sans-serif;
	color: #BBB;
	text-align:center;
}

span{
	color:#9966ff;
}

h2{
	position:relative;
	font-size:25px;
	font-family: 'Hind', sans-serif;
	color: #BBB;
	padding:10px;
}

h2#subtitle{
	position: absolute;
	margin-left: 60%;
	margin-top:200px;
}

h2#description{
	margin: 8%;
}

#Hi{
	opacity:0;
}
.main{
	width:100%;
	box-shadow:0 5px 5px #AFAFAF;
}
#En, #Hi {
    transition: opacity 0.4s;
	position:absolute;
	margin-left:35%;
	align: center;
}

.main:hover #En {
    opacity: 0;
}
.main:hover #Hi {
    opacity: 1;
}

.specs{
	width:100%;
	height: 60%;
	background-size: 100% 100%;
	background-image: url('/SatDummy.png');
	background-repeat: no-repeat;
	background-attachment:fixed;
	margin-top: 300px;
	position:relative;
}
